
body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family:Arial, Arial Black, Impact;
  font-weight: 400;
}




.image-mobile {
  width: 50px;
}


@media (min-width: 768px) {
  .image-mobile {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .yumex {
    font-size: 21px; 
  }
}

@media screen and (min-width: 768px) {
  .yumex {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .contact-us {
    font-size: 16px; 
  }
}

@media screen and (min-width: 768px) {
  .contact-us{
    font-size: 20px; 
  }
}


@media screen and (max-width: 767px) {
  .supported-by {
    font-size: 25px; 
  }
}

/* For desktop devices */
@media screen and (min-width: 768px) {
  .supported-by {
    font-size: 60px; 
  }
}




